.formBody {
  background: #202027;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 87%;
  color: white;
  padding: 20px;
}

.btn {
  background: #1762a7;
  color: white;
  border-radius: 20px;
  width: 90%;
  height: 7%;
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formBody > * {
  margin-top: 14px;
}

.btn:hover {
  cursor: pointer;
}
