.widgetBody {
  background: #202027;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.widgetBody > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 13px;
}
.widgetBody:hover {
  cursor: pointer;
}

/* .widgetBody > div:hover {
  color: #202027;
} */
